.navbar {
    text-align: center;
    padding: 0 !important;
}

/* PC>=992 */
@media screen and (min-width:992px) {
    div.ban_news>button {
        width: 25%;
    }
}


/* pad>=768px pad<991px */
@media screen and (min-width:768px) and (max-width:991px) {
    div.ban_news>button {
        width: 35%;
    }
}

/* phone<=767 */
@media screen and (max-width: 767px) {
    div.top {
        background: white;
        height: 140px;
        display: block;
    }

    div.top>h1 {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    div.top>h1,
    div.rnav>ul {
        display: block;
        width: 100%;
    }

    div.rnav>ul>li {
        width: 32%;
        text-align: center;
        margin: 0px;
        padding: 0px;
        /* margin:0 50px 0 50px; */
    }

    .navbg ul>li {
        width: 100%;
        text-align: center;
        padding: 3px 0;
    }

    .navbar-toggler {
        margin: 0 auto;
    }

    .navbar {
        padding: 0 !important;
    }

    div.ban_news>button {
        width: 50%;
    }

    .teacher>ul>li{
        float: left;
    }
    .leftul li a{
        /* display: inline-block; */
        float: left;
        margin-right: 20px;
    }
    .leftul{
        margin-bottom: 100px;
    }

}